<p>
  ログイン完了ユーザ: <%= current_user.name %>
</p>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %>
    </li>
  <% end %>
</ul>
<%= paginate @tasks %>
<%= link_to "新しいタスクを登録", new_task_path %>
<br>
<%= link_to 'ログアウトする', logout_path, method: :delete %></li>

